body {
    font-family: Arial;
    padding: 30px;
    background: #f4f4f4;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}
button {
    padding: 10px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 6px;
}
